/.metadata/

Output Data/

errors\.txt

__pycache__/

\.settings/de\.loskutov\.anyedit\.AnyEditTools\.prefs

test\.py

Climate Data/KBED-2017-old\.txt

Climate Data/KBED-2017 old\.txt

Climate Data/KBED-2017\.xlsx

Climate Data/KBED-2016\.xlsx

Climate Data/KBED-2016 old\.txt

Climate Data/KBED 2016 2017\.xlsx
